h1, h2, h3, p, span, label, small, a, input {
  font-family: "Comfortaa", cursive;
  color: #414141;
}

/**
* header ****************************************************************************************************
**/
header {
  position: relative;
  margin-bottom: 100px;
  width: 100vw;
}
header h1 {
  font-size: 3.5rem;
  margin: 20px 0 0 80px;
}
@media screen and (max-width:750px) {
  header h1 {
    margin: 20px 0 0 20px;
  }
}

.hum {
  display: none;
  position: absolute;
  top: 0;
  right: 20px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.hum span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: black;
}
.hum span:nth-of-type(1) {
  top: 0;
}
.hum span:nth-of-type(2) {
  top: 48%;
}
.hum span:nth-of-type(3) {
  bottom: 0;
}

.header_nav {
  position: fixed;
  top: 20px;
  right: 5%;
  width: 400px;
}
.header_nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.header_nav li {
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 10px;
  list-style: none;
}
.header_nav li:hover {
  opacity: 0.7;
}
.header_nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: yellow;
  transition: all 0.3s;
}
.header_nav li:hover::before {
  width: 100%;
}
.header_nav a {
  white-space: nowrap;
  text-decoration: none;
}
.header_nav .signup {
  background-color: #ffff7d;
  border: 3px solid white;
  transition: all 0.3s;
}
.header_nav .signup:hover {
  border: 3px solid #ffff7d;
  background-color: white;
}
.header_nav .signup::before {
  display: none;
}

/**
* main ****************************************************************************************************
**/
main {
  max-width: 1400px;
  margin: 0 auto 100px;
}

/**
* footer ****************************************************************************************************
**/
footer {
  position: relative;
  width: 100vw;
  height: 50px;
  background-color: #ffff7d;
}
footer small {
  display: block;
  text-align: center;
  line-height: 50px;
}
@media screen and (max-width:650px) {
  footer small {
    white-space: nowrap;
    font-size: 0.5rem;
  }
}

main {
  max-width: 800px;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

.explain {
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin-bottom: 50px;
  padding: 0 20px;
}

.err_msg {
  list-style-position: inside;
  list-style-type: disc;
  margin-bottom: 50px;
  padding-left: 50px;
}
.err_msg li {
  color: #fa4e4e;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

form {
  background-color: #f5f583;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:650px) {
  form {
    padding: 20px;
  }
}

.form_item {
  margin-bottom: 30px;
}
.form_item label {
  display: block;
  margin-bottom: 10px;
}
.form_item input {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 10px;
}
@media screen and (max-width:650px) {
  .form_item {
    margin-bottom: 15px;
  }
}

.form_err {
  list-style-position: inside;
  list-style-type: disc;
}
.form_err li {
  color: #fa4e4e;
  margin-bottom: 5px;
}

#submit {
  padding: 10px 20px;
  background-color: white;
  font-family: "Comfortaa", cursive;
  border: 3px solid #414141;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
#submit:hover {
  background-color: #ffff7d;
}

form .form_item {
  margin-bottom: 30px;
}
form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}
form select {
  width: 100%;
  appearance: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  border: 3px solid #414141;
  color: #414141;
}
form #keyword {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  border: 3px solid #414141;
  color: #414141;
}
form #keyword::placeholder {
  color: #414141;
}
form #keyword:active {
  border: 3px solid #414141;
}
form #range {
  margin-bottom: 15px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: #414141;
  height: 2px;
  width: 100%;
  outline: 0;
  border-radius: 10px;
  box-sizing: border-box;
}
form #range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: yellow;
  width: 24px;
  height: 24px;
  border: 1px solid #414141;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
form #range::-moz-range-thumb {
  background: yellow;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
form #range::-moz-focus-outer {
  border: 0;
}
form #range:active::-webkit-slider-thumb {
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}
form #submit {
  padding: 10px 20px;
  background-color: white;
  font-family: "Comfortaa", cursive;
  border: 3px solid #414141;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s;
}
form #submit:hover {
  background-color: #ffff7d;
}

/*# sourceMappingURL=contact.css.map */
