<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="./src/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./src/css/style.css">
</head>
<body>

    fa

        

    <script type="text/javascript" src="./src/js/main.js"> </script>
</body>
</html>