@charset "utf-8";

@use "variable" as v;

h1, h2, h3, p, span, label, small, a, input {
    font-family: v.$en;
    color: v.$gray;
}

/**
* header ****************************************************************************************************
**/
header {
    position: relative;
    margin-bottom: 100px;
    width: 100vw;
    h1 {
        font-size: 3.5rem;
        margin: 20px 0 0 80px;
        @include v.md(tab) {
            margin: 20px 0 0 20px;
        }
    }
}
.hum {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: black;
        &:nth-of-type(1) {
            top: 0;
        }
        &:nth-of-type(2) {
            top: 48%;
        }
        &:nth-of-type(3) {
            bottom: 0;
        }
    }
}
.header_nav {
    position: fixed;
    top: 20px;
    right: 5%;
    width: 400px;
    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    li {
        position: relative;
        box-sizing: border-box;
        padding: 10px 20px;
        border-radius: 10px;
        list-style: none;
        &:hover {
            opacity: .7;;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: yellow;
            transition: all .3s;
        }
        &:hover::before {
            width: 100%;
        }
    }
    a {
        white-space: nowrap;
        text-decoration: none;
    }
    .signup {
        background-color: v.$yellow;
        border: 3px solid white;
        transition: all .3s;
        &:hover {
            border: 3px solid v.$yellow;
            background-color: white;
        }
        &::before {
            display: none;
        }
    }

}

/**
* main ****************************************************************************************************
**/

main {
    max-width: 1400px;
    margin: 0 auto 100px;
}

/**
* footer ****************************************************************************************************
**/
footer {
    position: relative;
    width: 100vw;
    height: 50px;
    background-color: v.$yellow;
    small {
        display: block;
        text-align: center;
        line-height: 50px;
    }

    @include v.md(sp) {
        small {
            white-space: nowrap;
            font-size: .5rem;
        }
    }
}
