@charset "utf-8";

@use "reset";
@use "variable" as v;
@use "base";
@use "one_card";

.thanks {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  a {
    display: block;
    list-style: none;
    background-color: v.$yellow;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid v.$gray;
    transition: .3s all;
    &:hover {
      background-color: white;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
}